[submodule "qr-code"]
	path = qr-code
	url = https://github.com/dnuker/qr-code.git

[submodule "stats-preview"]
	path = stats-preview
	url = https://github.com/dnuker/stats-preview.git
[submodule "3-column-preview-card"]
	path = 3-column-preview-card
	url = https://github.com/dnuker/3-column-preview-card
